
  .Header {
    position: fixed; /* Fija el encabezado */
    top: 0;
    width: 100%;
    color: #FBB603;
    background-color: #5A5A5A;
    color: #FFF9E9;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    z-index: 1000; /* Asegura que el encabezado esté sobre el contenido */
  }
  